{% extends 'base.html' %}

{% block content %}


<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
          {{ field.errors }}
        {{ field.label_tag }} {{ field }}

          {% if field.help_text %}
              {{ field.help_text|safe }}
          {% endif %}  
      {% endfor %}
       <input type="submit" value="Submit" />
 </form>

{% if user.is_authenticated %}
<a href="{% url 'users:profile_update' user.id %}">Edit</a>
| <a href="{% url 'users:pwd_change' user.id %}">Change Password </a> 

{% endif %}

{% endblock %}